*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    background: #aaa;
    padding: 10px 120px;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60px;
    margin-right: 20px;
}

.nav_bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav_bar ul button{
    padding: 10px;
    background: none;
    outline: none;
    border:1px solid #02060c99;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.nav_bar ul li{
    font-weight: 700;
    font-size: 1.2rem;
    margin: 10px;
    color: #02060cbf;
}

.body{
    width: 100%;
    padding: 10px 120px;
}

.search_container{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    outline: none;
    padding: 10px;
    border:1px solid #02060c99;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}

.search button{
    padding: 10px;
    border-left:none;
    border:1px solid #02060c99;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.filter button{
    padding: 10px;
    border:1px solid #02060c99;
    border-radius: 8px;
    cursor: pointer;
}

.restaurant_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.shimmer_restaurant_container{
    padding: 10px 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.reataurant_card,.shimmer_reataurant_card{
    width: 22%;
    margin-bottom: 1rem;
    border-radius: 16px;
}

.reataurant_card:hover,.shimmer_reataurant_card:hover{
    scale: .95;
    transition: all .5s;
}

.restaurant_img,.shimmer_restaurant_img{
    width: 100%;
    height: 12rem;
    object-fit: fill;
    border-radius: 16px;
}

.restaurant_img img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.shimmer_restaurant_img img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: #aaa;
}

.restaurant_info,.shimmer_restaurant_info{
    padding: 10px;
    width: 100%;
}

.restaurant_info h3{
    color: #02060cbf;
    height: 24px;
    overflow: hidden;
    width: 100%;
}

.shimmer_restaurant_info h3{
    color: #02060cbf;
    height: 24px;
    background: #aaa;
    width: 100%;
    margin-bottom: .5rem;
}

.restaurant_info h4{
    color: #02060cbf;
    margin-bottom: .5rem;
    height: 19px;
}

.shimmer_restaurant_info h4{
    color: #02060cbf;
    margin-bottom: .5rem;
    height: 19px;
    background: #aaa;
    width: 30%;
}

.restaurant_info p{
    color: #02060c99;
    margin-bottom: .5rem;
    height: 19px;
    overflow: hidden;
}

.shimmer_restaurant_info p{
    color: #02060c99;
    margin-bottom: .5rem;
    height: 19px;
    background: #aaa;
    width: 100%;
}

.restaurant_info span{
    color: #02060c99;
    height: 19px;
}

.shimmer_restaurant_info span{
    color: #02060c99;
    height: 19px;
    background: #aaa;
    width: 100%;
}